<hr class="double" />
<h1>#STARDEVELOPER</h1>
<hr class="thick"/>
<div id="themessage"><p><%=@message%></p></div>
<hr class="dixit">
<div id="themessager"><a href="<%= @link %>"><%= @name %></a></div>
<hr class="thick"/>
