<html>
  <head>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0">

    <link rel="stylesheet" href="/stylesheets/style.css">
    <% if @tweet %>
      <% meta_attributes(@tweet).each do |attributes| %>
        <meta <%= attributes %>>
      <% end %>
      <title>#stardeveloper - <%= @tweet.name %> - <%= @tweet.text %></title>
    <% else %>
      <title>#stardeveloper</title>
    <% end %>
  </head>
  <body>

    <%= yield %>

    <script type="text/test">
     #didyourender
    </script>
  </body>
</html>
