/*
* Font was found [here](https://www.theleagueofmoveabletype.com/chunk)
* Go check them out, some great fonts
*/
body  {
}

.line {
    transition: fill 2s ease-out;
    fill: #5d0303;
}

.container {
    display: grid;
    align-items: center;
    height: 100%;
}

.container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr 0.1fr;
    grid-template-areas: "header"
                         "message"
                         "footer";
    grid-gap: 10px;
}

.anonymous {
    transition: fill 0.2s linear;
    fill: white;
    pointer-events: all;
}

@media only screen and (min-width: 460px) {
    .anonymous {
        transition: fill 0.2s linear;
        fill: red;
        pointer-events: all;
   }
   .anonymous:hover {
        fill:white;
   }
  .container {
      grid-template-columns: 0.2fr 0.1fr 0.4fr 0.1fr 0.2fr;
      grid-template-rows: 0.3fr 1fr 0.1fr;
      grid-template-areas: ". . header . ."
                           ". message message message ."
                           ". . footer . .";
      grid-gap: 10px;
  }
}

@font-face {
    font-family: "Chunkfive";
    src: url('/fonts/ChunkFive-Regular.ttf') format('truetype'), url('/fonts/ChunkFive-Regular.otf') format('opentype');
}

body {
    font-family: "Chunkfive";
    background-color: #1D1E20;
    background: linear-gradient(90deg,
                                #1D1E20,
                                rgba(40, 40, 40, 1.0) 30%,
                                rgba(40, 40, 40, 1.0) 70%,
                                #1D1E20 100%);
}


h1 a {
    color: #FF4358;
}

h1 {
		grid-area: header;
    color: #FF4358;
    font-size: calc(32px + 4vw);
    text-align: justify;
    text-justify: newspaper;
    letter-spacing: -3px;
    margin: 0px;
    text-align: center;

    font-weight: lighter;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow:
    #380200 1px 1px 0,
		#380200 2px 2px 0,
		#380200 3px 3px 0,
		black 4px 4px 0,
		black 5px 5px 0,
    4px 6px 8px;
}

#themessage {
    grid-area: message;
    /* font-size: calc(8*100vw + 64px); */
    text-align: center;
    text-transform:uppercase;
    line-height: 1.3em;
    overflow: hidden;
}


#all-tweets p a{
    text-decoration:none;
    color: #BBC4CB;
}
#themessager {
    grid-area: footer;
    /* -webkit-transform: scale(1,4); */
    text-align: center;
    text-transform: uppercase;
}
#themessager {
    color: #BBC4CB;
    font-size: 4em;
    font-size: 4vw;
}
#themessager a {
    text-decoration: none;
    color: #BBC4CB;
}
.left {
    margin-right: 50px;
}
.right {
   margin-left: 50px;
}
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}
ul li {
    margin-top:10px;
    font-size: 1.8em;
    text-align: right;
    color: #BBC4CB;
    font-weight: lighter;
}
ul li {
    list-style-type:none;
}
ul#all-tweets li {
    list-style-type: binary;
}
ul li.even {
    color: #BEC7BF;
}
ul li a {
    color: #FF4358;
}
label {
    color: white;
}
.extraordinary {
    -webkit-columns: 3 200px;
    -moz-columns: 3 200px;
    columns: 3 200px;
}

.continue {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .extraordinary {
        width: 100%;
        padding: 0;
    }
    ul li {
        margin-top:10px;
        font-size: 1.8em;
        text-align: left;
        color: #BBC4CB;
    }
}
